table th {
 text-align: center;
}


.Name {
    width: 20%;
    vertical-align: middle;
}

.Time {
    width: 20%;
    vertical-align: middle;
}

.Duration {
    width: 20%;
    vertical-align: middle;
}

.State {
    width: 20%;
    vertical-align: middle;
}

td {
  text-align: center;
}

.searcharea {
  margin: 20px;
  color: blue;
}

.order {
    float: right;
    color : blue
}