table th {
 text-align: center;
}

.Name {
    width: 20%;
    vertical-align: middle;
}

.Time {
    width: 20%;
    vertical-align: middle;
}

.Duration {
    width: 20%;
    vertical-align: middle;
}

.State {
    width: 20%;
    vertical-align: middle;
}

.Progress {
    width: 20%;
    vertical-align: middle;
}

td {
  text-align: center;
}

.searcharea {
  margin: 20px;
  color: blue;
}

.order {
    float: right;
    color : blue
}

.uploading {
    color: red;
    font-weight: bold;
}

.uploaded {
    color: green;
    font-weight: bold;
}

.calculating {
    font-weight: bold;
}

