<div class="searcharea">
  <input class="form-control w-25 btn btn-secondary" onfocus="this.placeholder=''" onblur="this.placeholder='Search by name'"
    type="text" [(ngModel)]="query" placeholder="search by name" />
</div>

<table class="table table-striped table-bordered table-hover table-sm">
  <thead class="thead-inverse">
    <tr>
      <th class="Name">Nom</th>
      <th class="Time">Heure d'upload<button class="order btn btn-secondary" (click)="sortByDate()">&#8597;</button>
      </th>
      <th class="Duration">Durée d'upload</th>
      <th class="State">Etat</th>
      <th class="Progress">Avancée</th>
    </tr>
  </thead>

  <tr *ngFor="let stat of stats| filter:query">
    <td><a href="{{stat.url}}">{{stat.name}}</a></td>
    <td>{{stat.uploadedAt | date:'dd/MM/y H:mm:ss'}}</td>
    <td [ngClass]="{'calculating': !stat.uploadDuration, 'calculated':stat.uploadDuration}">{{stat.uploadDuration ? (stat.uploadDuration | date:'ss') + ' seconds' : 'Calculating...'}}</td>
    <td [ngClass]="{'uploading': stat.status=='UPLOADING', 'uploaded':stat.status=='UPLOADED'}">{{stat.status}}</td>
    <td>{{stat.progress ? stat.progress + '%' : ''}}</td>
  </tr>
</table>