<div class="searcharea">
  <input class="form-control w-25 btn btn-secondary" onfocus="this.placeholder=''" onblur="this.placeholder='Search by name'"
    type="text" [(ngModel)]="query" placeholder="search by name" />
</div>

<table class="table table-striped table-bordered table-hover table-sm">
  <thead class="thead-inverse">
    <tr>
      <th class="Name">Nom</th>
      <th class="Time">Heure de chargement<button class="order btn btn-secondary" (click)="sortByDate()">&#8597;</button>
      </th>
      <th class="Duration">Durée de chargement</th>
      <th class="State">Etat</th>
    </tr>
  </thead>

  <tr *ngFor="let stat of stats| filter:query">
    <td><a href="{{stat.url}}">{{stat.name}}</a></td>
    <td>{{stat.uploadedAt | date:'dd/MM/y H:mm:ss'}}</td>
    <td>{{stat.uploadDuration | date:'ss'}} seconds</td>
    <td>{{stat.status}}</td>
  </tr>
</table>
